body{
    background-color: hsl(0, 0%, 95%);

}

#container{
    display: flex;
    justify-content: center;
    margin: 20vh;
    height: 100%;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
        h1{
            color: hsl(0, 0%, 95%);
        }
}
p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

#container_sedans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(31, 77%, 52%);
    height: auto;
    padding: 24px 40px 30px 30px;
    border-radius: 10px 0 0 10px;
    height: auto;
}
#container_suvs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(184, 100%, 22%);
    padding:  24px 30px 24px 40px;
}
#container_luxury{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(179, 100%, 13%) ;
    padding:  24px 30px 24px 40px;
    border-radius: 0 10px 10px 0;
}
img{
    width: 3vw;
}

button{
    margin-top: 10vh;
    border-radius: 24px;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    padding: 10px 20px;
    width: fit-content;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}

#btn_sedan{
    color: hsl(31, 77%, 52%);
}
#btn_sedan:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
}
#btn_suv{
    color: hsl(184, 100%, 22%);
}
#btn_suv:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
}
#btn_luxury{
    color: hsl(179, 100%, 13%);
}
#btn_luxury:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
}

@media(max-width:375px){
    #container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 75vw;
    }
    img{
        width: 12vw;
    }
    #container_sedans{
        border-bottom-left-radius: 0;
    }
    #container_luxury{
        border-top-right-radius: 0;
    }
}